html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-image: url("../../public/images/0x91shake.png");
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

.dropzone{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	border: solid 5px red;
}
svg{
	    border: solid 2px black;
    border-radius: 50%;
}