html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: black;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

.hidden{
	display: none;

}