html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	
	
}
body {
	background-image:"../../public/images/barre-moulin.jpg";
	padding: 0; 
	margin: 0;
	width: 256px;
	height: 256px;
	overflow: hidden;
} 
#rotate-area{
	width: 100%;
	height: 100%;
}
.trigger{
	width: 256px;
	height: 256px;
	border: none;
	
 
}

#toRot{
	touch-action: none;	
	overflow: hidden;
	transform: rotate(20deg);
	width: 256px;
	height: 256px;
	position: absolute;
	left: 10px;
	top:10px;
}


.hidden {
	display: none;
}