html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-color: white;
	background-size: contain;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

.dropzone{
	position: absolute;
	top: 105px;
	left: 90px;
	width: 100px;
	height: 100px;
	border: solid 1px beige;
}



.hidden {
	display: none;
}

img{
	position: absolute;
	width: 80px;
	height: 80px;

}

img#spir{
	width: 256px;
	height: 256px;
	top: 50px;
	left:20px;
}

img#spir2{
	position: absolute;
	width: 256px;
	height: 256px;
	top: 0px;
	left: 0px;
}

