html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: black;
	width : 256px;
	height : 256px;
	overflow: hidden;
}

h1{
    color:white;
    text-align: center;
    justify-content: center;
}

.inputTxt {
    width: 75%;
    margin-left: 32px;
    border-color: red;
    border-width: 2px;
    border-radius: 10px;
    
}

.inputDate {
    width: 75%;
    margin-left: 32px;
    border-color: green;
    border-width: 2px;
    border-radius: 10px;
}

.label1{
    color: white;
    margin-left: 32px;
    text-align: center;
}

.label2{
    color: white;
    margin-bottom: 10px;
    margin-left: 32px;
    text-align: center;
}
.Checkbox1{
    color: white;
    margin-left:32px;
    margin-top: 10px;
    text-decoration-color: white;
    
    
    
}