html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-image: "../../public/images/dino.png"
	width : 256px;
	height : 256px;
	overflow: hidden;
} 



#dino{
	position: absolute;
	top: 20px;
	left: 70px;
	width: 256px;
	height: 256px;
}

#hamburger{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 200px;
	height: 200px;
}
.dropzone{
	position: absolute;
	top: 140px;
	left: 180px;
	width: 75px;
	height: 75px;
	border: solid 1px yellow;
	z-index: 10;
	}

.hidden{
	display: none;
}

