html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-size: contain;
	width : 256px;
	height : 256px;
	overflow: hidden;

}
 button{
 	padding: 0; 
	margin: 0;
	background-size: contain;
	width : 30px;
	height : 16px;
	top:10px;
	left:40px;
 }

.hidden{
display: none;
}
#pinch-area{
	width: 100%;
	height: 100%;
}
.trigger{
	width: 100px;
	height: 100px;
	border: solid 5px red;
	
}

#toPinch{
	touch-action: none;	
	overflow: hidden;
	padding: 0; 
	margin: 0;
	background-size: contain;
	width : 256px;
	height : 256px;
}
 #ouvert{
 	padding: 0; 
	margin: 0;
	background-size: contain;
	width : 256px;
	height : 256px;
 }
