html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: blue;
	width: 100%;
	height: 100%;
	
}
body {
	padding: 0; 
	margin: 0;
	background: green;

	width: 100%;
	height: 100%;
	overflow: hidden;
} 

#pinch-area{
	width: 100%;
	height: 100%;
}

.trigger{
	width: 100px;
	height: 100px;
	border: solid 5px red;
}

#toPinch{
	touch-action: none;	
	overflow: hidden;
}

.rect{
	width:auto;
	height:auto;
}

.red{
	background-color: transparent;
}

.dropzone{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	border: solid 5px transparent;
}

svg{
	    border: solid 2px black;
    border-radius: 50%;
}
