@media (orientation: portrait){


html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
    
	padding: 0; 
	margin: 0;
	background:  #3e4f65;;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 
    
    #backgroundone{
        background-color:  #3e4f65;
    }

#stars{
    background-image: url(./../../public/images/Stars.png);
    background-size:cover;
    background-position: center bottom;
    width:256px;
    height:256px;
}


    
}

@media (orientation: landscape){
    
    html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
    body {
    
	padding: 0; 
	margin: 0;
	background: black;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 
    
    #backgroundtwo{
        background-color:  #1e2733;
    }
#stars{
    background-image: url(./../../public/images/Stars.png);
    background-size:cover;
    background-position: center bottom;
    width:256px;
    height:256px;
}
    
    #symboltwo img {
    position: absolute;
    background-size:cover;
    background-position: center top;
    width:256px;
    height:256px;
    top: 0px;
    
}
    
}

