html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	width : 256px;
	height : 256px;
	overflow: hidden;
	background:black;
} 

img{
	padding: 0; 
	margin: 0;
	width : 256px;
	height : 256px;
	overflow: hidden;
	background-image: url("../../public/images/0x79.png");
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
}

.trigger{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: red;
	margin:100px;
}

.hide{
	display: none;
}
