html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-size: contain;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

} 
#pinch-area{
	width: 100%;
	height: 100%;
}
.trigger{
	width: 100px;
	height: 100px;
}

.dropzone{
	position: absolute;
	top: 50px;
	left: 120px;
	width: 50px;
	height: 50px;
	border: solid 1px green;
}


#bin{
		position: absolute;
	width: 256px;
	height: 256px;
}
#toPinch{
	touch-action: none;	
	overflow: hidden;
	position: absolute;
	width: 256px;
	height: 256px;
}

#morte{
	position: absolute;
	width: 56px;
	height: 56px;
	z-index: 10;
}

.hidden {
	display: none;
}