body, html {
	font-family: sans-serif;
	padding: 0; 
	margin: 0;
	background: black;
	color: white;
} 
iframe {
	width: 256px;
	height: 256px;
	border: none;
	overflow: hidden;
}
h1, h2, p{
	margin :0;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 20px;
}
button:focus{
	outline: 0;
}

.center{
	margin: 0 ;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
.wrapper{
	background: black;
    box-shadow: rgba(255, 255, 255, 0.3) 0 0 100px 1px;
    overflow: hidden;
	
    height: 0;
}
.hidden{
	display : none;
}
