html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
	width: 256px;
	height: 256px;
	
}
body {
	padding: 0; 
	margin: 0;
	background: white;

	width: 256px;
	height: 256px;
	overflow: hidden;
} 
#rotate-area{
	width: 256px;
	height: 256px;
}

#toRot{
	touch-action: none;	
	overflow: hidden;
	transform: rotate(20deg);
}

.spinner{
    background-image: url(./../../public/images/fidgetspinner.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 15px;
	width:256px;
	height:256px;
}