html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;
}
.hidden{
	display: none;
} 

img{
	width: 256px;
	height: 256px;
	transform: rotate(1400deg);
}

h1{
	color:lime;
	transform: translate(0, 114px);
	width: 100%;
	text-align: CENTER;

}