html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	width : 256px;
	height : 256px;
	overflow: hidden;
}
.dropzone{
	position: absolute;
	top: 100px;
	left: 105px;
	width: 60px;
	height: 55px;
	border: 5px;
}

#rotate-area{
	top: 100px;
	left: 105px;
	width: 60px;
	height: 55px;
	border: 5px;
}
.trigger{
	width: 20%;
	height: 20%;
	
 
}

#toRot{
	touch-action: none;	
	overflow: hidden;
	transform: rotate(20deg);
}
.smile{
	background-image: url(./../../public/images/smileC.png);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;

}