html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: LavenderBlush;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

.hide{
	display: none;
}

img{
	height: 256px;
    transform: rotate(0deg);
}

h3{
	color: teal;
	font-size: 3px;
	width: 100%;
	text-align: center;
	transform: translate(0px, 114px);
	margin: 0;
	padding: 0;
}

#pinch-area{
	width: 100%;
	height: 100%;
}

.trigger{
	width: 20px;
	height: 20px;
	border: solid 5px transparent;
}

#toPinch{
	touch-action: none;	
	overflow: hidden;
}

.rect{
	width:20px;
	height:20px;

}

.red{
	background-color: transparent;
}