html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: pink;
	width : 256px;
	height : 256px;
	overflow: hidden;
	/*background-image: url(../../public/images/propgra-appli-2.png);*/
} 

.red{
	/*background-color: red;*/
}


.rect{
	width:215px;
	height:255px;
	/*background-image: url(../../public/images/propgra-appli-1.png);*/
}


.img{
	width:256px;
	height:256px;
	position: center;
}