html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background-image: url("./../../public/images/Tilt.png");
	background-repeat: no-repeat;
	background-size: cover;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 
.background img{
	width:256px;
	height: 256px;
}
.hide{
	display:none;
}