html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: black;
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

h1 {

	color: red;
	text-decoration: underline;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	position: absolute;
	left: 100px;
	top : 70px;
}

.dropzone{
	position: absolute;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
	border: solid 5px red;
}

.red{
	background-color: red;
}