html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;

}

 
 h1{
	color: white;
	width: 100%;
	 
	 

	}
 
body {
	padding: 0; 
	margin: 0;
	background-image: url("../../public/images/0x38sene.png");
	width : 256px;
	height : 256px;
	overflow: hidden;
} 

	

.dropzone{
	position: absolute;
	top: 50px;
	left: 80px;
	width: 170px;
	height: 170px;
	 
	 
}

svg{
	    border: solid 2px black;
    border-radius: 50%;


}

.hide{
	display: none;

