html{
	padding: 0; 
	margin: 0;
	overflow: hidden;
	background: white;
}
body {
	padding: 0; 
	margin: 0;
	background: white;
	width : 256px;
	height : 256px;
	overflow: hidden;

}
svg{
	    border: solid 2px black;
    border-radius: 50%;
}
img{height: 256px;

 }


.hidden{
	display: none;
}